body {
  background-color: rgb(214, 245, 255);
}

button {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

#cashier {
  height: 200px;
  border-radius: 10px;
}

.rate-prompt {
    font-size: 18px;
}